.DS_STORE
.vagrant
.idea
node_modules
.sass-cache
Thumbs.db
.htpasswd
shared-code/*
environment.json
public/library/css/frontend.min.css
public/library/js/frontend-final.min.js
public/library/version.txt