@font-face{
    font-family: "C64 Pro Mono Local";
    src: url('../fonts/C64_Pro_Mono-STYLE.woff2') format("woff2");
}

body, html {
    padding:0;
    margin:0;
    height: 100%;

}

textarea, select, input, button, canvas { outline: none; }

body {
    background: #333;
    color: #ccc;
    font-family: 'ArialMT', 'Arial', sans-serif;
}

.c64pm {
    font-family: "C64 Pro Mono Local", "Lucida Console", Monospaced;
}
.container {

    height: 100%;
}
#editor {
    flex-grow: 100;
    padding:0 15px 15px 15px;
}

.editor-layout {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.editor-top h1 {
    float:left;
    margin-top:0;
    display: none;

}

.editor-top h1 a {
    color: rgba(40, 116, 180,0.6);
    text-decoration: none;
    font-size: 14px;
}

.editor-top h1 a:hover {
    color: rgba(40, 116, 180,1);
}
.editor-top button, .editor-top input {
    float:left;
    margin-right:15px;
    background: rgb(40, 116, 180);
    color: #fff;
    border:0;
    padding: 8px 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.editor-top input {
    cursor: text;
}
.editor-top button:disabled {
    opacity: 0.5;
}

.short-url-holder {
    float:right;
}

#x16url {
    width: 145px;
    display: none;
    float: none;
    margin:0;
    background: #fff;
    color: rgb(40, 116, 180);
}

#copy-url {
    margin: 0!important;
    display: none;
    float: none;
    margin:0;
}

#shareCode {

}
.editor-middle {
    flex-grow: 100;
    display: flex;
}


.code-container {

}
#code {
    width: 100%;
    margin: 0;
    border: 0;
    background: #222;
    color: #999;
    resize: none;
    font-size: 16px;
    opacity: 0.8;
    height: 85vh;

    padding: 5px;

}

#code:focus {
    box-shadow: 0px 0px 5px 0px rgba(40, 116, 180,0.6);
    opacity: 1;
}


#emulator {
    padding:15px;


}
.emu-layout {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}


.emu-container {
    width:100%;
    text-align: center;

}




#canvas {
    width:100%;
    opacity: 0.8;

}
#canvas:focus {
    box-shadow: 0px 0px 5px 0px rgba(40, 116, 180,0.6);
    opacity: 1;
}

.close-fullscreen {
    display:none;
}
.fullscreen .close-fullscreen {
    display:block!important;
    position: absolute;
    right:0;
    top:0;
}
.close-fullscreen a {
    color:#fff;
    text-decoration: none;
    font-size: 50px;
    margin-right: 10px;
}
.emu-container.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(40, 116, 180);
    z-index: 1;
}

.fullscreen #canvas {
    max-height: 90%;
    max-width: 90%;

    width: auto;
    height: 4800px;
    display: block;
    border: 0;
    opacity: 1;
}

@media (max-aspect-ratio: 4/3) {
    .fullscreen #canvas {
        width:6400px;
        height:auto;
    }
}

.output-container {
    flex-grow: 100;
    margin-top: 15px;
    overflow-x: auto;
    overflow-y: auto;
    background: #000;
    color: #999;



}
#output {

    margin: 0;
    min-height: 100%;
    height: 70px;

}

#spinner {
    overflow:visible;
}

#spinner strong{
    display: block;
    margin-top: 15px;
}

.spinner {
    height: 50px;
    width: 50px;
    margin: 0px auto;
    -webkit-animation: rotation .8s linear infinite;
    -moz-animation: rotation .8s linear infinite;
    -o-animation: rotation .8s linear infinite;
    animation: rotation 0.8s linear infinite;
    border-left: 10px solid rgb(0, 150, 240);
    border-right: 10px solid rgb(0, 150, 240);
    border-bottom: 10px solid rgb(0, 150, 240);
    border-top: 10px solid rgb(100, 0, 200);
    border-radius: 100%;
    background-color: rgb(200, 100, 250);
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



@media screen and (min-width: 900px) {

    html,body {
        overflow: hidden;
    }

    .editor-top h1 {
        display: block;
    }
    .editor-top button, .editor-top input {
        float: right;
        margin-left:15px;
        margin-right: 0px;
    }

    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    #emulator {
        padding:30px 30px 30px 15px;

    }

    #editor {
        padding:30px 30px 30px 15px;
    }

    .emu-container {
        width: 400px;
        height: 300px;

    }

    #canvas {
        min-width: 400px;
        min-height: 300px;
    }

    .output-container {
        margin-top: 30px;
        width: 400px;
    }

    #output {
        height: auto;
    }

    #code {
        height: auto;
        margin-top: 0;
    }
}


@media screen and (min-width: 1150px) {
    .emu-container {
        width: 640px;
        height: 480px;

    }

    #canvas {
        min-width: 640px;
        min-height: 480px;
    }

    .output-container {
        margin-top: 30px;
        width: 640px;
    }

}